.navbar{
    display: flex;
    justify-content: space-around;
    padding: 26px;
    box-shadow: 0 2px 5px -2px rgb(15, 15, 15);
}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 25px;
}
.nav-logo p{
    color: #041772b0;
    font-size:15px ;
    font-weight: 800;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 25px;
    color: #626626;
    font-size: 20px;
    font-weight: 500;
}

.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}
.nav-menu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #ac2626;    
}
.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 45px; 
}
.nav-login-cart button{
    width: 107px;
    height: 38px;
    outline: none;
    border: 2px solid #7a7a7a;
    border-radius: 55px;
    color: #515151;
    font-size: 20px;
    font-weight: 500;
    background: white;
    cursor: pointer;
}
.nav-login-cart button:active{
    background: #f3f3f3;   
}
.nav-cart-count{
    width: 20px;
    height: 15px;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: -40px;
    margin-left: -180px;
    border-radius: 20px;
    font-size: 50px;
    background:red;
    color:white;
}
